@{
    ViewBag.Title = "Index";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="A clean login and registration template based on Bootstrap framework">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/assest/icon/newicon.PNG" />



    <title>Loggit - Login &amp; registration template</title>
    <script src="~/assest/js/jquery.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/assest/css/bootstrep.mini.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="~/assest/css/Custome.css" rel="stylesheet" />

    <link href="~/assest/css/font_awesome.css" rel="stylesheet" />

    <link media="screen" rel="stylesheet" href="~/assest/css/font.css" />

</head>

<body>
    <div id="mainWrap">
        <div id="loggit" style="height:303px; width:375px">
            <h3><i class="fa fa-lock"></i> Hospital Mangement System</h3>
            <h3>Please <strong>Login</strong> or <strong>Register</strong></h3>

            <form action="" id="logForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" name="Username" style="height:26px; width:250px" class="form-control input-lg" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" name="Password" style="height:26px; width:250px" class="form-control input-lg" placeholder="Password" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group formSubmit">
                    <div class="col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked autocomplete="off"> Keep me logged in
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5 submitWrap">
                        <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                    </div>
                </div>
                <div class="form-group formNotice">
                    <div class="col-xs-12">
                        <p class="text-center">Don't have an account? <span><a href="Home/register"> Register now</a></span></p>
                    </div>
                </div>
            </form>
            <form action="#" id="regForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Username" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" class="form-control input-lg" placeholder="Password" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group formSubmit">
                    <div class="col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" autocomplete="off"> I agree to the Terms &amp; Conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5 submitWrap">
                        <button type="submit" class="btn btn-success btn-lg">Register</button>
                    </div>
                </div>
                <div class="form-group formNotice">
                    <div class="col-xs-12">
                        <p class="hasAccount text-center">Already have an account? <span>Log in here</span></p>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <footer class="clearfix">
        @*<p>Copyright &copy; 2014 Loggit - Login &amp; registration template. All Rights Reserved</p>*@
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $('.formNotice span').click(function () {
                    $("#logForm").toggle();
                    $("#regForm").toggle();
                });


            });
        </script>*@

</body>
</html>
