@{
    Layout = null;
    ViewBag.Title = "Register";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="A clean login and registration template based on Bootstrap framework">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/assest/icon/newicon.PNG" />



    <title>Loggit - Login &amp; registration template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assest/css/bootstrep.mini.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="~/assest/css/Custome.css" rel="stylesheet" />

    <link href="~/assest/css/font_awesome.css" rel="stylesheet" />

    <link media="screen" rel="stylesheet" href="~/assest/css/font.css" />

</head>

<body style="background:url(../assest/img/bg.jpg) no-repeat center center fixed;">
    <div id=" mainwrap">
    <div id="loggit" style="width:359px">
        <h3 style="width:293px"><i class="fa fa-lock"></i>Hospital Mangement System</h3>
        @*<h3>Please <strong>Login</strong> or <strong>Register</strong></h3>*@
        <div style="text-align:center;margin-bottom:4px">
            @if (ViewData["_error_"] != null)
            {
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span style="color:red">
                        @ViewData["_error_"]
                    </span>
                </div>
            }
            else if(ViewData["error"] != null)
                {
                  <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span style="color:red">
                        @ViewData["error"]
                    </span>
                </div>
                }
        </div>

        <form action="register" id="logForm" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        <input type="email" name="Username" style="height:26px; width:250px" class="form-control input-lg" placeholder="Email" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" name="Password" style="height:26px; width:250px" min="5" class="form-control input-lg" placeholder="Password" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div style="text-align:center;margin-bottom:4px">
               
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-question fa-fw"></i></span>
                        <input type="text" style="height:26px; width:250px" name="question" class="form-control input-lg" placeholder="Question" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reply fa-fw"></i></span>
                        <input type="text" name="answer" style="height:26px; width:250px" class="form-control input-lg" placeholder="Answer" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="form-group formSubmit">
                @*<div class="col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked autocomplete="off"> Keep me logged in
                            </label>
                        </div>
                    </div>*@
                <div class="col-sm-5 submitWrap">
                    <button type="submit" style="margin-right:-50px" class="btn btn-primary btn-lg">Register</button>

                </div>
            </div>
            <div class="form-group formNotice">
                <div class="col-xs-12">
                    <p class="text-center">Already Register <span><a href="Index">LOGIN NOW</a></span></p>
                </div>
            </div>
        </form>
        @*<form action="#" id="regForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Username" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" class="form-control input-lg" placeholder="Password" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group formSubmit">
                    <div class="col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" autocomplete="off"> I agree to the Terms &amp; Conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5 submitWrap">
                        <button type="submit" class="btn btn-success btn-lg">Register</button>
                    </div>
                </div>
                <div class="form-group formNotice">
                    <div class="col-xs-12">
                        <p class="hasAccount text-center">Already have an account? <span>Log in here</span></p>
                    </div>
                </div>
            </form>*@
    </div>

    </div>
    <footer class="clearfix">
        @*<p>Copyright &copy; 2014 Loggit - Login &amp; registration template. All Rights Reserved</p>*@
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $('.formNotice span').click(function () {
                    $("#logForm").toggle();
                    $("#regForm").toggle();
                });


            });
        </script>*@

</body>
</html>