@{
    Layout = null;
    ViewBag.Title = "Forgotpassword";
    
}

<link href="~/assest/css/Custome.css" rel="stylesheet" />
<link href="~/assest/css/font.css" rel="stylesheet" />
<link href="~/assest/css/googlefont.css" rel="stylesheet" />
<link href="~/assest/css/Contest.css" rel="stylesheet" />
<link href="~/assest/css/Style.css" rel="stylesheet" />
<link href="~/assest/css/bootstrap.css" rel="stylesheet" />
<link href="~/assest/css/font_awesome.css" rel="stylesheet" />
<body style="background:url(../assest/img/bg.jpg) no-repeat center center fixed;">
    <div id="mainWrap">
        <div id="loggit" style="width:375px">
            <h3><i class="fa fa-lock"></i> Hospital Mangement System</h3>
            <h3>Please <strong>Reset Your Password</strong></h3>
            @if (ViewData["error"] != null)
            {
                
                 <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span style="color:red">
                        @ViewData["error"]
                    </span>
                </div>
            }
            <form action="Forgotpassword" id="logForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" name="Email" style="height:26px; width:250px" class="form-control input-lg" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>
                @if (ViewData["Email"] != null)
                {
                    <div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input type="text" name="HintQuestion" style="height:26px; width:250px" class="form-control input-lg" placeholder="Select Your Question" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                                    <input type="text" name="Answer" style="height:26px; width:250px" class="form-control input-lg" placeholder="Answer" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group formSubmit">

                    <div class="col-sm-5 submitWrap">
                        <button type="submit" class="btn btn-primary btn-lg">Ok</button>
                    </div>
                </div>

                <div class="form-group formNotice">
                    <div class="col-xs-12">
                        <p class="text-center">Don't have an account? <span><a href="~/Home/register"> Register now</a></span></p>
                    </div>
                </div>
            </form>
            <form action="#" id="regForm" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Username" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" class="form-control input-lg" placeholder="Password" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-group formSubmit">
                    <div class="col-sm-7">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" autocomplete="off"> I agree to the Terms &amp; Conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-5 submitWrap">
                        <button type="submit" class="btn btn-success btn-lg">Register</button>
                    </div>
                </div>
                <div class="form-group formNotice">
                    <div class="col-xs-12">
                        <p class="hasAccount text-center">Already have an account? <span>Log in here</span></p>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <footer class="clearfix">
        @*<p>Copyright &copy; 2014 Loggit - Login &amp; registration template. All Rights Reserved</p>*@
    </footer>
</body>

